$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints

$tablets: 768px;
$phones: 480px;

@import "./components/media.scss";

//z-indexer

$z-fixed-menu: 100;

//colors


//normalize
@import url("./components/normalize.css");

//setups
@import "layout";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&display=swap");

//components
@import "./components/hero.scss";
@import "./components/header.scss";
@import "./components/features.scss";
@import "./components/feature.scss";
@import "./components/btn.scss";
@import "./components/section.scss";
@import "./components/headline.scss";
@import "./components/benefits.scss";
@import "./components/benefit.scss";
@import "./components/reviews.scss";
@import "./components/interactive-avatar.scss";
@import "./components/order.scss";
@import "./components/form.scss";
@import "./components/radio.scss";
@import "./components/hamburger.scss";
@import "./components/contact.scss";
@import "./components/footer.scss";
@import "./components/slider.scss";
@import "./components/products.scss";
@import "./components/team.scss";
@import "./components/modal.scss";
@import "./components/player.scss";
@import "./components/products-menu.scss";