.btn {
  font-size: rem(19px);
  font-weight: 700;
  padding: rem(21px) rem(41px); 
  text-transform: uppercase;
  border-radius: rem(100px);  
  line-height: 1;
  text-decoration: none;
  border: none;

  &--theme--yellow {
    background: #FEDB3F;
    color: #000000;

    &:hover {
      background: #FFD517;
    }
  }

  &--theme-transperent {
    background: transparent;
    color: #FFFFFF;
    font-weight: 400;
    font-size: rem(18px);
    text-transform: none;

    &:hover {
      color: #FEDB3F;
    }
  }
}