.feature {
  display: flex;
}

.feature__icon {
  margin-right: rem(14px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature__text {
  font-size: rem(16px);
  max-width: rem(90px);
}