.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 27px;

  &:last-child {
    margin-right: 0px;
  }
}

.form__row {
  display: flex;
  margin-bottom: 12px;
}

.form__block {
  flex: 1;
  margin-right: 17px;

  &:last-child{
    margin-right: 0px;
  }
}

.form__input {
  width: 100%;
  border: none;
  padding: 18px 11px;
  border: solid 3px transparent;
  border-radius: 4px;

  &--textarea {
    height: 162px;
    resize: none;
    margin-bottom: 20px;
  }

  &:focus {
    border-color: #FEDB3F;
    outline: none;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}

.form__title {
  font-weight: 400;
  color: #FFFFFF;
}