.hamburger {
  width: rem(24px);
  height: rem(20px);
  flex-direction: column;
  justify-content: space-between;
  margin-right: rem(30px);
  display: none;

  @include tablets {
    display: inline-flex;
  }

  @include phones {
    margin-right: rem(10px);
  }
}

.hamburger__plank {
  display: block;
  background: #FFFFFF;
  height: rem(4px);
  border-radius: rem(10px);
}

.close-modal {
	position: absolute;
	top: rem(30px);
	right: rem(20px);
	width: rem(24px);
	height: rem(24px);
	opacity: 0.5;
  transition: opacity ease 0.5s;

	&:hover {
		opacity: 1;
	}
}

.close-modal::before,
.close-modal::after {
	content: '';
	position: absolute;
	top: rem(5px);
	display: block;
	width: rem(20px);
	height: rem(4px);
	background: #FFFFFF;
  border-radius: rem(2px);
}

.close-modal::before {
	transform: rotate(45deg);
}

.close-modal::after {
	transform: rotate(-45deg);
}