.headline__title {
  margin-bottom: 17px;
  color: #292929;
}

.headline__subtitle {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 0 27%;
}

.headline {
  margin-bottom: 49px;
}